In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# The path to our CSV file
file = "2018.csv"

# Read data into pandas
df = pd.read_csv(file)
df.head()

,State,Year,Number of CoCs,"Overall Homeless, 2018","Sheltered ES Homeless, 2018","Sheltered TH Homeless, 2018","Sheltered SH Homeless, 2018","Sheltered Total Homeless, 2018","Unsheltered Homeless, 2018","Homeless Individuals, 2018",...,"Homeless Parenting Youth Age 18-24, 2018","Sheltered ES Homeless Parenting Youth Age 18-24, 2018","Sheltered TH Homeless Parenting Youth Age 18-24, 2018","Sheltered Total Homeless Parenting Youth Age 18-24, 2018","Unsheltered Homeless Parenting Youth Age 18-24, 2018","Homeless Children of Parenting Youth, 2018","Sheltered ES Homeless Children of Parenting Youth, 2018","Sheltered TH Homeless Children of Parenting Youth, 2018","Sheltered Total Homeless Children of Parenting Youth, 2018","Unsheltered Homeless Children of Parenting Youth, 2018"
0,AK,2018,2,"2,016","1,248",459,0,"1,707",309,"1,434",...,25,14,9,23,2,26,14,10,24,2
1,AL,2018,8,"3,434","1,519",865,40,"2,424","1,010","2,570",...,27,11,8,19,8,36,16,13,29,7
2,AR,2018,7,"2,712",933,516,6,"1,455","1,257","2,280",...,8,5,2,7,1,11,7,2,9,2
3,AZ,2018,3,"9,865","3,615","2,144",40,"5,799","4,066","7,259",...,63,19,35,54,9,81,28,45,73,8
4,CA,2018,43,"129,972","27,475","12,737",217,"40,429","89,543","109,008",...,"1,077",567,389,956,121,"1,215",631,464,"1,095",120

In [4]:
df.columns

Index(['State', 'Year', 'Number of CoCs', 'Overall Homeless, 2018',
       'Sheltered ES Homeless, 2018', 'Sheltered TH Homeless, 2018',
       'Sheltered SH Homeless, 2018', 'Sheltered Total Homeless, 2018',
       'Unsheltered Homeless, 2018', 'Homeless Individuals, 2018',
       'Sheltered ES Homeless Individuals, 2018',
       'Sheltered TH Homeless Individuals, 2018',
       'Sheltered SH Homeless Individuals, 2018',
       'Sheltered Total Homeless Individuals, 2018',
       'Unsheltered Homeless Individuals, 2018',
       'Homeless People in Families, 2018',
       'Sheltered ES Homeless People in Families, 2018',
       'Sheltered TH Homeless People in Families, 2018',
       'Sheltered Total Homeless People in Families, 2018',
       'Unsheltered Homeless People in Families, 2018',
       'Homeless Family Households, 2018',
       'Sheltered ES Homeless Family Households, 2018',
       'Sheltered TH Homeless Family Households, 2018',
       'Sheltered Total Homeless Family Households, 2018',
       'Unsheltered Homeless Family Households, 2018',
       'Chronically Homeless, 2018', 'Sheltered ES Chronically Homeless, 2018',
       'Sheltered SH Chronically Homeless, 2018',
       'Sheltered Total Chronically Homeless, 2018',
       'Unsheltered Chronically Homeless, 2018',
       'Chronically Homeless Individuals, 2018',
       'Sheltered ES Chronically Homeless Individuals, 2018',
       'Sheltered SH Chronically Homeless Individuals, 2018',
       'Sheltered Total Chronically Homeless Individuals, 2018',
       'Unsheltered Chronically Homeless Individuals, 2018',
       'Chronically Homeless People in Families, 2018',
       'Sheltered ES Chronically Homeless People in Families, 2018',
       'Sheltered Total Chronically Homeless People in Families, 2018',
       'Unsheltered Chronically Homeless People in Families, 2018',
       'Homeless Veterans, 2018', 'Sheltered ES Homeless Veterans, 2018',
       'Sheltered TH Homeless Veterans, 2018',
       'Sheltered SH Homeless Veterans, 2018',
       'Sheltered Total Homeless Veterans, 2018',
       'Unsheltered Homeless Veterans, 2018',
       'Homeless Unaccompanied Youth (Under 25), 2018',
       'Sheltered ES Homeless Unaccompanied Youth (Under 25), 2018',
       'Sheltered TH Homeless Unaccompanied Youth (Under 25), 2018',
       'Sheltered SH Homeless Unaccompanied Youth (Under 25), 2018',
       'Sheltered Total Homeless Unaccompanied Youth (Under 25), 2018',
       'Unsheltered Homeless Unaccompanied Youth (Under 25), 2018',
       'Homeless Unaccompanied Youth Under 18, 2018',
       'Sheltered ES Homeless Unaccompanied Youth Under 18, 2018',
       'Sheltered TH Homeless Unaccompanied Youth Under 18, 2018',
       'Sheltered SH Homeless Unaccompanied Youth Under 18, 2018',
       'Sheltered Total Homeless Unaccompanied Youth Under 18, 2018',
       'Unsheltered Homeless Unaccompanied Youth Under 18, 2018',
       'Homeless Unaccompanied Youth Age 18-24, 2018',
       'Sheltered ES Homeless Unaccompanied Youth Age 18-24, 2018',
       'Sheltered TH Homeless Unaccompanied Youth Age 18-24, 2018',
       'Sheltered SH Homeless Unaccompanied Youth Age 18-24, 2018',
       'Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2018',
       'Unsheltered Homeless Unaccompanied Youth Age 18-24, 2018',
       'Homeless Parenting Youth (Under 25), 2018',
       'Sheltered ES Homeless Parenting Youth (Under 25), 2018',
       'Sheltered TH Homeless Parenting Youth (Under 25), 2018',
       'Sheltered Total Homeless Parenting Youth (Under 25), 2018',
       'Unsheltered Homeless Parenting Youth (Under 25), 2018',
       'Homeless Parenting Youth Under 18, 2018',
       'Sheltered ES Homeless Parenting Youth Under 18, 2018',
       'Sheltered TH Homeless Parenting Youth Under 18, 2018',
       'Sheltered Total Homeless Parenting Youth Under 18, 2018',
       'Unsheltered Homeless Parenting Youth Under 18, 2018',
       'Homeless Parenting Youth Age 18-24, 2018',
       'Sheltered ES Homeless Parenting Youth Age 18-24, 2018',
       'Sheltered TH Homeless Parenting Youth Age 18-24, 2018',
       'Sheltered Total Homeless Parenting Youth Age 18-24, 2018',
       'Unsheltered Homeless Parenting Youth Age 18-24, 2018',
       'Homeless Children of Parenting Youth, 2018',
       'Sheltered ES Homeless Children of Parenting Youth, 2018',
       'Sheltered TH Homeless Children of Parenting Youth, 2018',
       'Sheltered Total Homeless Children of Parenting Youth, 2018',
       'Unsheltered Homeless Children of Parenting Youth, 2018'],
      dtype='object')

In [5]:
reduced_2018_df = df.loc[:, ['State', 'Number of CoCs', 'Overall Homeless, 2018',
                                    'Homeless Veterans, 2018',
       'Sheltered Total Homeless Veterans, 2018',
       'Unsheltered Homeless Veterans, 2018',
       'Homeless Unaccompanied Youth (Under 25), 2018',
       'Sheltered Total Homeless Unaccompanied Youth (Under 25), 2018',
       'Unsheltered Homeless Unaccompanied Youth (Under 25), 2018',
       'Homeless Unaccompanied Youth Under 18, 2018',
       'Sheltered Total Homeless Unaccompanied Youth Under 18, 2018',
       'Unsheltered Homeless Unaccompanied Youth Under 18, 2018',]]
reduced_2018_df.head()

,State,Number of CoCs,"Overall Homeless, 2018","Homeless Veterans, 2018","Sheltered Total Homeless Veterans, 2018","Unsheltered Homeless Veterans, 2018","Homeless Unaccompanied Youth (Under 25), 2018","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2018","Unsheltered Homeless Unaccompanied Youth (Under 25), 2018","Homeless Unaccompanied Youth Under 18, 2018","Sheltered Total Homeless Unaccompanied Youth Under 18, 2018","Unsheltered Homeless Unaccompanied Youth Under 18, 2018"
0,AK,2,"2,016",132,110,22,163,150,13,8,8,0
1,AL,8,"3,434",339,267,72,158,113,45,44,43,1
2,AR,7,"2,712",251,150,101,240,122,118,43,40,3
3,AZ,3,"9,865",893,540,353,638,397,241,48,48,0
4,CA,43,"129,972","10,836","3,622","7,214","12,396","2,476","9,920","1,426",206,"1,220"

In [6]:
reduced_2018_df.dropna()
reduced_2018_df=reduced_2018_df.rename(columns={"Number of CoCs": ''# of CoCs','Overall Homeless, 2018',
                                    'Homeless Veterans, 2018',
       'Sheltered Total Homeless Veterans, 2018',
       'Unsheltered Homeless Veterans, 2018',
       'Homeless Unaccompanied Youth (Under 25), 2018',
       'Sheltered Total Homeless Unaccompanied Youth (Under 25), 2018',
       'Unsheltered Homeless Unaccompanied Youth (Under 25), 2018',
       'Homeless Unaccompanied Youth Under 18, 2018',
       'Sheltered Total Homeless Unaccompanied Youth Under 18, 2018',
       'Unsheltered Homeless Unaccompanied Youth Under 18, 2018',})
reduced_2018_df.head()

,State,# of CoCs,"Overall Homeless, 2018","Homeless Veterans, 2018","Sheltered Total Homeless Veterans, 2018","Unsheltered Homeless Veterans, 2018","Homeless Unaccompanied Youth (Under 25), 2018","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2018","Unsheltered Homeless Unaccompanied Youth (Under 25), 2018","Homeless Unaccompanied Youth Under 18, 2018","Sheltered Total Homeless Unaccompanied Youth Under 18, 2018","Unsheltered Homeless Unaccompanied Youth Under 18, 2018"
0,AK,2,"2,016",132,110,22,163,150,13,8,8,0
1,AL,8,"3,434",339,267,72,158,113,45,44,43,1
2,AR,7,"2,712",251,150,101,240,122,118,43,40,3
3,AZ,3,"9,865",893,540,353,638,397,241,48,48,0
4,CA,43,"129,972","10,836","3,622","7,214","12,396","2,476","9,920","1,426",206,"1,220"

In [28]:
# The path to our CSV file
file2 = "2017.csv"
file3 = "2016.csv"
file4 = "2015.csv"


# Read data into pandas
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
df4 = pd.read_csv(file4)

In [33]:
reduced_2017_df = df2.loc[:, ['State', 'Number of CoCs', 'Overall Homeless, 2017',
                                    'Homeless Veterans, 2017',
       'Sheltered Total Homeless Veterans, 2017',
       'Unsheltered Homeless Veterans, 2017',
       'Homeless Unaccompanied Youth (Under 25), 2017',
       'Sheltered Total Homeless Unaccompanied Youth (Under 25), 2017',
       'Unsheltered Homeless Unaccompanied Youth (Under 25), 2017',
       'Homeless Unaccompanied Youth Under 18, 2017',
       'Sheltered Total Homeless Unaccompanied Youth Under 18, 2017',
       'Unsheltered Homeless Unaccompanied Youth Under 18, 2017',
       'Homeless Unaccompanied Youth Age 18-24, 2017',
       'Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2017',
       'Unsheltered Homeless Unaccompanied Youth Age 18-24, 2017',]]

reduced_2016_df = df3.loc[:, ['State', 'Number of CoCs', 'Overall Homeless, 2016',
                                    'Homeless Veterans, 2016',
       'Sheltered Total Homeless Veterans, 2016',
       'Unsheltered Homeless Veterans, 2016',
       'Homeless Unaccompanied Youth (Under 25), 2016',
       'Sheltered Total Homeless Unaccompanied Youth (Under 25), 2016',
       'Unsheltered Homeless Unaccompanied Youth (Under 25), 2016',
       'Homeless Unaccompanied Youth Under 18, 2016',
       'Sheltered Total Homeless Unaccompanied Youth Under 18, 2016',
       'Unsheltered Homeless Unaccompanied Youth Under 18, 2016',
       'Homeless Unaccompanied Youth Age 18-24, 2016',
       'Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2016',
       'Unsheltered Homeless Unaccompanied Youth Age 18-24, 2016',]]

reduced_2015_df = df4.loc[:, ['State', 'Number of CoCs', 'Overall Homeless, 2015',
                                    'Homeless Veterans, 2015',
       'Sheltered Total Homeless Veterans, 2015',
       'Unsheltered Homeless Veterans, 2015',
       'Homeless Unaccompanied Youth (Under 25), 2015',
       'Sheltered Total Homeless Unaccompanied Youth (Under 25), 2015',
       'Unsheltered Homeless Unaccompanied Youth (Under 25), 2015',
       'Homeless Unaccompanied Youth Under 18, 2015',
       'Sheltered Total Homeless Unaccompanied Youth Under 18, 2015',
       'Unsheltered Homeless Unaccompanied Youth Under 18, 2015',
       'Homeless Unaccompanied Youth Age 18-24, 2015',
       'Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2015',
       'Unsheltered Homeless Unaccompanied Youth Age 18-24, 2015',]]

In [59]:
reduced_2015_df.dropna()
reduced_2015_df=reduced_2015_df.rename(columns={"Number of CoCs": "# of CoCs 2015"})
reduced_2015_df.head()

,State,# of CoCs 2015,"Overall Homeless, 2015","Homeless Veterans, 2015","Sheltered Total Homeless Veterans, 2015","Unsheltered Homeless Veterans, 2015","Homeless Unaccompanied Youth (Under 25), 2015","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2015","Unsheltered Homeless Unaccompanied Youth (Under 25), 2015","Homeless Unaccompanied Youth Under 18, 2015","Sheltered Total Homeless Unaccompanied Youth Under 18, 2015","Unsheltered Homeless Unaccompanied Youth Under 18, 2015","Homeless Unaccompanied Youth Age 18-24, 2015","Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2015","Unsheltered Homeless Unaccompanied Youth Age 18-24, 2015"
0,AK,2.0,"1,956",180,149,31,155,123,32,24,18,6,131,105,26
1,AL,8.0,"3,970",474,399,75,228,168,60,32,27,5,196,141,55
2,AR,7.0,"2,560",456,385,71,188,95,93,0,0,0,188,95,93
3,AZ,3.0,"9,896","1,220",672,548,621,450,171,83,79,4,538,371,167
4,CA,43.0,"115,738","11,311","4,309","7,002","10,416","2,464","7,952",892,260,632,"9,524","2,204","7,320"

In [60]:
reduced_2016_df.dropna()
reduced_2016_df=reduced_2016_df.rename(columns={"Number of CoCs": "# of CoCs 2016"})
reduced_2016_df.head()

,State,# of CoCs 2016,"Overall Homeless, 2016","Homeless Veterans, 2016","Sheltered Total Homeless Veterans, 2016","Unsheltered Homeless Veterans, 2016","Homeless Unaccompanied Youth (Under 25), 2016","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2016","Unsheltered Homeless Unaccompanied Youth (Under 25), 2016","Homeless Unaccompanied Youth Under 18, 2016","Sheltered Total Homeless Unaccompanied Youth Under 18, 2016","Unsheltered Homeless Unaccompanied Youth Under 18, 2016","Homeless Unaccompanied Youth Age 18-24, 2016","Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2016","Unsheltered Homeless Unaccompanied Youth Age 18-24, 2016"
0,AK,2.0,"1,940",168,112,56,173,137,36,19,19,0,154,118,36
1,AL,8.0,"4,111",373,321,52,254,173,81,28,28,0,226,145,81
2,AR,7.0,"2,463",222,159,63,201,117,84,49,49,0,152,68,84
3,AZ,3.0,"9,707","1,036",663,373,589,431,158,100,92,8,489,339,150
4,CA,43.0,"118,142","9,612","4,012","5,600","11,222","2,531","8,691",847,213,634,"10,375","2,318","8,057"

In [61]:
reduced_2017_df.dropna()
reduced_2017_df=reduced_2017_df.rename(columns={"Number of CoCs": "# of CoCs 2017"})
reduced_2017_df.head()

,State,# of CoCs 2017,"Overall Homeless, 2017","Homeless Veterans, 2017","Sheltered Total Homeless Veterans, 2017","Unsheltered Homeless Veterans, 2017","Homeless Unaccompanied Youth (Under 25), 2017","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2017","Unsheltered Homeless Unaccompanied Youth (Under 25), 2017","Homeless Unaccompanied Youth Under 18, 2017","Sheltered Total Homeless Unaccompanied Youth Under 18, 2017","Unsheltered Homeless Unaccompanied Youth Under 18, 2017","Homeless Unaccompanied Youth Age 18-24, 2017","Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2017","Unsheltered Homeless Unaccompanied Youth Age 18-24, 2017"
0,AK,2.0,"1,845",124,95,29,162,142,20,15,15,0,147,127,20
1,AL,8.0,"3,793",269,202,67,294,182,112,36,34,2,258,148,110
2,AR,6.0,"2,467",239,130,109,208,87,121,17,15,2,191,72,119
3,AZ,3.0,"8,947",970,641,329,578,345,233,55,45,10,523,300,223
4,CA,43.0,"131,532","11,436","3,815","7,621","12,962","2,709","10,253","1,495",198,"1,297","11,467","2,511","8,956"

In [62]:
merge1_df = pd.merge(reduced_2015_df, reduced_2016_df, on="State", how="outer")
merge2_df = pd.merge(reduced_2017_df, reduced_2018_df, on="State", how="outer")
merge_df=pd.merge(merge1_df, merge2_df, on="State", how="outer")

In [65]:
merge_df.dropna()
merge_df.head()

,State,# of CoCs 2015,"Overall Homeless, 2015","Homeless Veterans, 2015","Sheltered Total Homeless Veterans, 2015","Unsheltered Homeless Veterans, 2015","Homeless Unaccompanied Youth (Under 25), 2015","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2015","Unsheltered Homeless Unaccompanied Youth (Under 25), 2015","Homeless Unaccompanied Youth Under 18, 2015",...,"Unsheltered Homeless Veterans, 2018","Homeless Unaccompanied Youth (Under 25), 2018","Sheltered Total Homeless Unaccompanied Youth (Under 25), 2018","Unsheltered Homeless Unaccompanied Youth (Under 25), 2018","Homeless Unaccompanied Youth Under 18, 2018","Sheltered Total Homeless Unaccompanied Youth Under 18, 2018","Unsheltered Homeless Unaccompanied Youth Under 18, 2018","Homeless Unaccompanied Youth Age 18-24, 2018","Sheltered Total Homeless Unaccompanied Youth Age 18-24, 2018","Unsheltered Homeless Unaccompanied Youth Age 18-24, 2018"
0,AK,2.0,"1,956",180,149,31,155,123,32,24,...,22,163,150,13,8,8,0,155,142,13
1,AL,8.0,"3,970",474,399,75,228,168,60,32,...,72,158,113,45,44,43,1,114,70,44
2,AR,7.0,"2,560",456,385,71,188,95,93,0,...,101,240,122,118,43,40,3,197,82,115
3,AZ,3.0,"9,896","1,220",672,548,621,450,171,83,...,353,638,397,241,48,48,0,590,349,241
4,CA,43.0,"115,738","11,311","4,309","7,002","10,416","2,464","7,952",892,...,"7,214","12,396","2,476","9,920","1,426",206,"1,220","10,970","2,270","8,700"

In [67]:
merge_df.to_csv('Final_Project.csv', encoding='utf-8', index=False)